# Ignore node_modules et fichiers temporaires
node_modules/
npm-debug.log
.DS_Store

# Ignore tout dans static sauf qrcode.png
static/*
!static/qrcode.png

# Ignore fichiers Python temporaires
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
